body {
    background-color: #afa4b4;
}

header {
    background: rgb(31, 122, 122);
    padding: 20px 0;
}

.caixa {
position: relative;
width: 940px;
margin: 0 auto;

}

nav {
    position: absolute;
    top: 110px;
    right: 0;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    color: rgb(110, 226, 43);
    text-decoration: underline;
}

#banner{
    width: 100%;
}

.subtitulo {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}

.introduçao{
    text-align: justify;
    padding: 20px;
}


#missao {
    font-size: 20px;
}

em strong{
    font-weight: bold;
}

.beneficios{
    padding: 20px;
    margin: 0 auto;
}

h3{
    font-size: 25px;
    font-weight: bold;  
    margin-bottom: 10px;
}
.beneficios ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.item{
    font-style: italic;
    margin-bottom: 5px;
    text-decoration: underline;
}

#cliente{
    width: 50%;
}

footer {
    text-align: center;
    background: url(imgs/bg.jpg);
    padding: 40px 0;
}

.copyright {
    color: #ffffff;
    font-size: 13px;
    margin: 20px 0 0;
}
